In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
d=pd.read_csv('/content/drive/MyDrive/indianecoinsta.csv')#d is original data file
d=pd.DataFrame(d)
d[:2]

,postUrl,profileUrl,username,fullName,commentCount,likeCount,pubDate,description,imgUrl,postId,ownerId,type,query,timestamp,location,isSidecar,sidecarMedias,viewCount,videoUrl
0,https://www.instagram.com/p/CtZHbixstuV/,https://www.instagram.com/investywise,investywise,InvestyWise,40,1742,2023-06-12T13:44:09.000Z,Foreign direct equity investments declined by ...,https://scontent-lhr8-1.cdninstagram.com/v/t51...,3123560495650626453,16190318992,Photo,#indianeconomy,2023-06-20T06:48:15.503Z,NaN,False,NaN,NaN,NaN
1,https://www.instagram.com/p/Cs_PgtGpZbN/,https://www.instagram.com/barelyopinionated,barelyopinionated,Barely Opinionated,97,4745,2023-06-02T12:34:30.000Z,What are your thoughts on this? ðŸ¤”\n\nSave & Sh...,https://scontent-lhr8-1.cdninstagram.com/v/t51...,3116277685314492109,39209383554,Carousel,#indianeconomy,2023-06-20T06:48:15.503Z,NaN,True,2.0,NaN,NaN

In [ ]:
d.shape

(9000, 19)

Data Exploration

In [ ]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   postUrl        9000 non-null   object
 1   profileUrl     9000 non-null   object
 2   username       9000 non-null   object
 3   fullName       8782 non-null   object
 4   commentCount   9000 non-null   int64
 5   likeCount      9000 non-null   int64
 6   pubDate        9000 non-null   object
 7   description    8991 non-null   object
 8   imgUrl         8906 non-null   object
 9   postId         9000 non-null   int64
 10  ownerId        9000 non-null   int64
 11  type           9000 non-null   object
 12  query          9000 non-null   object
 13  timestamp      9000 non-null   object
 14  location       2174 non-null   object
 15  isSidecar      9000 non-null   bool
 16  sidecarMedias  1749 non-null   float64
 17  viewCount      91 non-null     float64
 18  videoUrl       94 non-null     object
dtypes: bool(1), float64(2), int64(4), object(12)
memory usage: 1.2+ MB

In [ ]:
d.isnull().sum()

postUrl             0
profileUrl          0
username            0
fullName          218
commentCount        0
likeCount           0
pubDate             0
description         9
imgUrl             94
postId              0
ownerId             0
type                0
query               0
timestamp           0
location         6826
isSidecar           0
sidecarMedias    7251
viewCount        8909
videoUrl         8906
dtype: int64

In [ ]:
d.describe()

,commentCount,likeCount,postId,ownerId,sidecarMedias,viewCount
count,9000.000000,9000.000000,9.000000e+03,9.000000e+03,1749.000000,91.000000
mean,2.546556,211.037778,3.088897e+18,3.947005e+10,4.881075,252.615385
std,19.743168,2761.423937,2.440950e+16,2.068460e+10,2.570434,1471.557624
min,0.000000,0.000000,2.833757e+18,6.329041e+06,2.000000,1.000000
25%,0.000000,3.000000,3.066171e+18,1.619032e+10,3.000000,8.000000
50%,0.000000,8.000000,3.088044e+18,4.898712e+10,4.000000,29.000000
75%,1.000000,23.000000,3.111287e+18,5.669193e+10,7.000000,59.500000
max,1267.000000,214308.000000,3.129141e+18,6.048280e+10,10.000000,13841.000000

In [ ]:
d['query'].value_counts()

#indianeconomy    9000
Name: query, dtype: int64

In [ ]:
d['type'].value_counts()

Photo       7157
Carousel    1749
Video         94
Name: type, dtype: int64

Data Preprocessing

In [ ]:
#d1 is the data for identification, source, type, post and its impressions
d1=d[['commentCount','likeCount','postId','ownerId','viewCount','description','type','pubDate','imgUrl']]
d1=d[['postId','ownerId','pubDate','type','description','imgUrl','viewCount','likeCount','commentCount']]
d1[:2]

,postId,ownerId,pubDate,type,description,imgUrl,viewCount,likeCount,commentCount
0,3123560495650626453,16190318992,2023-06-12T13:44:09.000Z,Photo,Foreign direct equity investments declined by ...,https://scontent-lhr8-1.cdninstagram.com/v/t51...,NaN,1742,40
1,3116277685314492109,39209383554,2023-06-02T12:34:30.000Z,Carousel,What are your thoughts on this? ðŸ¤”\n\nSave & Sh...,https://scontent-lhr8-1.cdninstagram.com/v/t51...,NaN,4745,97

In [ ]:
d1.isnull().sum() #let's drop columns viewCount, imgUrl and rows where description is empty

postId             0
ownerId            0
pubDate            0
type               0
description        9
imgUrl            94
viewCount       8909
likeCount          0
commentCount       0
dtype: int64

In [ ]:
d2 = d1.dropna(subset=['description'])
d2.isnull().sum()

postId             0
ownerId            0
pubDate            0
type               0
description        0
imgUrl            94
viewCount       8900
likeCount          0
commentCount       0
dtype: int64

In [ ]:
d2.drop(['viewCount','imgUrl'],axis=1,inplace=True)
d2[:2]

<ipython-input-14-f34beead1dc6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d2.drop(['viewCount','imgUrl'],axis=1,inplace=True)

,postId,ownerId,pubDate,type,description,likeCount,commentCount
0,3123560495650626453,16190318992,2023-06-12T13:44:09.000Z,Photo,Foreign direct equity investments declined by ...,1742,40
1,3116277685314492109,39209383554,2023-06-02T12:34:30.000Z,Carousel,What are your thoughts on this? ðŸ¤”\n\nSave & Sh...,4745,97

In [ ]:
d2.isnull().sum()

postId          0
ownerId         0
pubDate         0
type            0
description     0
likeCount       0
commentCount    0
dtype: int64

Data Analysis

In [ ]:
from textblob import TextBlob
d2['Subjectivity'] = d2['description'].apply(lambda x: TextBlob(x).sentiment.subjectivity)
d2['Polarity'] = d2['description'].apply(lambda x: TextBlob(x).sentiment.polarity)
d2['Sentiment'] = d2['Polarity'].apply(lambda x: 'negative' if x<0 else 'positive' if x>0 else 'neutral')
d2[:2]

<ipython-input-16-eb048439f634>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d2['Subjectivity'] = d2['description'].apply(lambda x: TextBlob(x).sentiment.subjectivity)
<ipython-input-16-eb048439f634>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d2['Polarity'] = d2['description'].apply(lambda x: TextBlob(x).sentiment.polarity)
<ipython-input-16-eb048439f634>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d2['Sentiment'] = d2['Polarity'].apply(lambda x: 'negative' if x<0 else 'positive' if x>0 else 'neutral')

,postId,ownerId,pubDate,type,description,likeCount,commentCount,Subjectivity,Polarity,Sentiment
0,3123560495650626453,16190318992,2023-06-12T13:44:09.000Z,Photo,Foreign direct equity investments declined by ...,1742,40,0.2625,-0.0125,negative
1,3116277685314492109,39209383554,2023-06-02T12:34:30.000Z,Carousel,What are your thoughts on this? ðŸ¤”\n\nSave & Sh...,4745,97,0.0000,0.0000,neutral

In [ ]:
d2['Polarity'].value_counts()

 0.000000    3127
 0.250000     423
 0.500000     303
 0.200000     247
 0.168254     160
             ...
 0.151515       1
 0.146875       1
 0.187273       1
 0.068485       1
-0.080556       1
Name: Polarity, Length: 2004, dtype: int64

In [ ]:
d2.describe()#aggregate sentiment is 'a bit positive'

,postId,ownerId,likeCount,commentCount,Subjectivity,Polarity
count,8.991000e+03,8.991000e+03,8991.000000,8991.000000,8991.000000,8991.000000
mean,3.088910e+18,3.946419e+10,211.232121,2.548104,0.295404,0.130369
std,2.439446e+16,2.069217e+10,2762.798929,19.752988,0.245283,0.181201
min,2.833757e+18,6.329041e+06,0.000000,0.000000,0.000000,-1.000000
25%,3.066200e+18,1.611518e+10,3.000000,0.000000,0.000000,0.000000
50%,3.088061e+18,4.896248e+10,8.000000,0.000000,0.309504,0.091667
75%,3.111277e+18,5.669193e+10,23.000000,1.000000,0.474309,0.220000
max,3.129141e+18,6.048280e+10,214308.000000,1267.000000,1.000000,1.000000